@media screen and (max-width: 640px) {
    .wrap {
        width: 100%;
    }

    h3 {
        display: none;
    }

    .navigation {
        display: none;
    }

    #product-menu {
        display: block;
        width: 100%;
    }

    #header-top-area {
        border-bottom: 1px solid #b5b9ba;
        margin-bottom: 10px;
        position: relative;
    }

    #header-top-area h1 {
        display: block;
        float: none;
    }

    #header-top-area h2 {
        display: none;
    }

    #header-top-area a {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    #header-middle-area {
        padding-bottom: 10px;
        border-bottom: 1px solid #b5b9ba;
    }

    #product-menu:hover .submenu {
        display: block;
    }

    #products-liked-list .wrap ul {
        text-align: center;
    }

    #products-suggestions-list .wrap ul {
        text-align: center;
    }

    footer .box {
        background-color: #26292d;
        text-align: center;
        width: 100%;
    }

    footer .share strong{
        display: inline-flex;
        color: #FFFFFF;
        vertical-align: bottom;
    }

    footer .share a {
        color: #FFFFFF;
    }

    footer .email-newsletter {
        padding: 3px 80px;
    }

    footer .copyright {
        padding-top: 0;
    }
}